* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	font-size: 0.8rem;
	background-color: #f4f4f4;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
  
}

.header {
	position: fixed; /* position the header at the top of the page */
	top: 0;
	left: 0;
	right: 0;
	display: flex; /* use flexbox layout to center the logo horizontally */
	justify-content: center; /* center items horizontally */
	align-items: center; /* center items vertically */
	background-color: white;
	height: 200px;
	border-bottom: 20px solid #c41e65;
	z-index: 10;
  }
  
  .logo {
	flex: 1; /* stretch the logo to fill the header */
	text-align: center; /* center the logo's contents horizontally */
  }

  .logo > img {
	max-width: 250px; /* limit the width of the logo */
  }

.content-area {
	margin-top: 200px;
	z-index: 5;
}

.form-row>.col, .form-row>[class*=col-] {
	padding-left: 15px;
	padding-right: 15px;
}

form {
	max-width: 1200px;
	margin: 10px auto;
	padding: 0.5rem 1rem;
	font-weight: normal;
	font-family: Calibri, sans-serif;
}

.form-top {
	width: 33.3%;
}

.form-small {
	height: 96px;
}

.form-large {
	height: 192px;
}

.form-row {
	display: flex;
  }
  
  .form-col {
	flex: 1;
	margin-right: 10px; /* Optional: Add spacing between columns */
	padding-bottom: 10px;
  }
  
  .inputcss {
	width: 100%;
	box-sizing: border-box; /* Ensure the padding and border are included in the width */
  }

/*! form.css v1.0 | MIT License | https://www.javascripttutorial.net/ */

.form small {
	color: #dc3545;
}

.dropdown {
	margin-bottom: 1rem;
}

.dropdown small {
	color: #dc3545;
}

label {
	display: inline-block;
	margin-bottom: 2px;
	margin-left: 0px;
	vertical-align: top;
	width: 100%;
	font-weight: bold;
}

/* input, textarea */
input + small,
select + small {
  display: block;
  margin-top: 0px;
}

textarea + small {
	display: block;
	margin-top: -5px;
}

textarea {
	margin-bottom: 0px;
}

input,
textarea,
select {
	border: solid 1px #ccc;
	border-radius: 3px;
	display: inline-block;
	padding: 0.5rem 0.75rem;
	width: 100%;
	font-family: inherit;
}

input::placeholder {
	color: #c2c2c2;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: 0 0 0 2pt rgb(49, 132, 253, 0.5);
}

input[disabled],
textarea[disabled],
select[disabled] {
	background-color: #f5f5f5;
	box-shadow: none;
	color: #7a7a7a;
	cursor: not-allowed;
}

/* input error */
input.error,
textarea.error,
select.error {
	border-color: #dc3545;
}

input.error:focus,
textarea.error:focus,
select.error:focus {
	box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

/* input success */
input.success,
textarea.success,
select.success {
	border-color: #198754;
	margin-bottom: 21px;
}

input.success:focus,
textarea.success:focus,
select.success {
	box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

/* button */
.button:focus {
	outline: none;
	color: #fff;
	background-color: #c41e65;
	border-color: #c41e65;
	box-shadow: 0 0 0 0.25rem rgba(84, 85, 85, 0.5);
}

.btn-area {
	text-align: center;
	padding-bottom: 20px;
}
.btn-primary {
	text-transform: uppercase;
	background-color: #264455;
	border-color: #264455;
    display: inline-block;
    font-weight: 500;
    border: 1px solid transparent;
    padding: .375rem 1.25rem;
    font-size: 1rem;
    line-height: 1.4;
    border-radius: .15rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary:hover {
	background-color: #ffffff;
	border-color: #162832;
	background-color:#1a2f3b;
	cursor: pointer;

}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #ffffff;
	border-color: #162832;
	background-color:#1a2f3b;
	cursor: pointer;
}

.btn-primary:active {
	background-color: #ffffff;
	border-color: #162832;
	background-color:#1a2f3b;
	cursor: pointer;
}

.btn-primary:focus {
	background-color: #ffffff;
	border-color: #162832;
	background-color:#1a2f3b;
	cursor: pointer;
}

.btn-back {
	padding-top: 20px;
	padding-left: 30px;
}
.btn-secondary {
	text-transform: lowercase;
	background-color: #c41e65;
	border-color: #c41e65;
    display: inline-block;
    font-weight: 200;
    border: 1px solid transparent;
    padding: .125rem 0.75rem;
    font-size: 0.8rem;
    line-height: 1.4;
    border-radius: .15rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-secondary:hover {
	background-color: #ffffff;
	border-color: #891647;
	background-color:#891647;
	cursor: pointer;

}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #ffffff;
	border-color: #891647;
	background-color:#891647;
	cursor: pointer;
}

.btn-secondary:active {
	background-color: #ffffff;
	border-color: #891647;
	background-color:#891647;
	cursor: pointer;
}

.btn-secondary:focus {
	background-color: #ffffff;
	border-color: #891647;
	background-color:#891647;
	cursor: pointer;
}

/* radio  & checkbox*/
label.radio,
label.checkbox {
	width: auto;
	cursor: pointer;
	display: inline-block;
	position: relative;
	border-radius: 5px;
}

.stack label.radio,
.stack label.checkbox {
	display: block;
	margin-left: auto;
}

.radio + .radio,
.checkbox + .checkbox {
	margin-left: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: baseline;
	width: auto;
}

/* vertical form */
.vertical label,
.vertical input,
.vertical textarea {
	display: block;
	width: 100%;
}

/* horizontal form */
.horizontal .field {
	display: grid;
	grid-template-columns: 20% 1fr;
	gap: 1rem 1rem;
	align-items: center;
	margin-bottom: 1rem;
}
.horizontal .field label {
	grid-column: 1 / 2;
	text-align: left;
}

.horizontal .field label.radio,
.horizontal .field label.checkbox {
	grid-column: 2 / 3;
	text-align: left;
}

.horizontal .field input,
.horizontal .field button,
.horizontal .field small {
	grid-column: 2 / 3;
}

/* Utility classes*/
.half {
	width: 50%;
}
.quarter {
	width: 25%;
}

.full {
	width: 100%;
}

.error {
	color: #dc3545;
}


/* Checkbox css */ 
.checkbox-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.checkbox-input {
	margin-right: 5px;
}

.labeltag {
	font-size: 15px;
	text-decoration: underline;
	padding-top: 10px;
}